.ResetBtn{
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(44,135,37);
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
    cursor: pointer;
}
